AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
BUCKET_NAME=""
ENDPOINT_URL=""
SETTINGS_FILE="enabled_data_points.csv"
PROCESSING_DELAY=3600
# influx
INFLUX_HOST="influx.aocs.maalcor.com"
INFLUX_PORT="443"
INFLUX_PROTOCOL="https"
INFLUX_TOKEN="asd"
INFLUX_ORGANIZATION="koor"
INFLUX_BUCKET="koor_data"
INFLUX_HOST=""
INFLUX_PORT=""
INFLUX_PROTOCOL="https"
INFLUX_TOKEN=""
INFLUX_ORGANIZATION=""
AURORAL_NODE_SB=https://mynode.eu/
AURORAL_NODE_USERNAME=admin
AURORAL_NODE_PASSWORD=password